hr {display:none;}
.agenda{padding-top:0em;display:flex; flex-flow: column wrap; justify-content: center; align-items:center;}
.agenda > .heading{font-size:300%;  }
.agenda > .subheading{font-size:200%; font-style:italic; margin-bottom:2em;}
.agenda > .datetime{font-size:200%; display:none; }

.subagenda{ background-color:pink!important; display:flex;  flex-flow: row wrap; align-items:center; justify-content: flex-start;}
.subagenda > .heading{font-size:150%!important; order:2; }
.subagenda > .subheading{font-size:100%; font-style:italic; display:none!important;}
.subagenda > .datetime{font-size:150%; width:10em; display:block!important; flex-grow:1;order:1; }


