hr {display:none;}
.agenda{padding-top:0em;display:flex; flex-flow: column wrap; justify-content: center; align-items:center;}
.agenda > .heading{font-size:300%;  }
.agenda > .subheading{font-size:200%; font-style:italic; margin-bottom:1em;}
.agenda > .datetime{font-size:200%; display:none; }
.agenda > .description > p {background-color:pink; margin-left:2em; margin-right:2em;}
.agenda > .description {margin-bottom:2em;}

.subagenda{ display:flex;  flex-flow: row wrap; justify-content: flex-start; }
.subagenda > .heading{font-size:150%!important; order:2;flex-grow:8; background-color:orange!important; }
.subagenda > .subheading{font-size:100%; font-style:italic; display:none!important;}
.subagenda > .datetime{font-size:150%; width:10em; display:block!important; flex-grow:0;order:1; background-color:ping!important; }


