hr {display:none;}
.q-list--bordered{border:0px!important;}

.agenda{padding-top:0em;display:flex; flex-flow: column wrap; justify-content: center; align-items:center;}
.agenda > .heading{font-size:400%; margin-top:3em; }
.agenda > .subheading{font-size:200%; font-style:italic; margin-bottom:1em;}
.agenda > .datetime{font-size:200%; display:none; }
.agenda > .description > p { font-size:120%; margin-left:1em; margin-right:1em; margin-bottom:1em;}
.agenda > .description {margin-bottom:2em;}

.subagenda{ display:flex;  flex-flow: row wrap; justify-content: flex-start; align-items:baseline;}
.subagenda > .heading{ font-size:200%!important; order:2;flex-grow:8; text-align:left!important; }
.subagenda > .subheading{font-size:100%; font-style:italic; display:none!important;}
.subagenda > .datetime{ width:7em; display:block!important; flex-grow:0;order:1; text-align:left!important; color:grey!important;}


