hr {display:none;}
.subagenda{padding-top:0em;}
.subagenda > .heading{font-size:300%; text-align:center; }
.subagenda > .subheading{font-size:200%; text-align:center; vertical-alignment:center;font-style:italic;}
.subagenda > .description{}
.subagenda > .datetime{font-size:200%; text-align:center; display:none; }

