/* include any fonts we want to use in the event */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* set up our basic classes. We will modify some elements inside the media query blocks */
 .ki-explanation h1 {font-size:2rem; font-weight: bold;}
 .ki-explanation h2 {font-size:1.5rem; font-weight:bold;}
 .ki-explanation h3 {font-size:1.25rem; font-weight:bold;}
 .ki-explanation h4 {font-size:1.25rem; font-weight:initial; font-style: italic;}


 .ki-heading {font-family: 'Playfair Display', serif;}
 .ki-explanation { font-weight:normal; font-family:'EB+Garamond', serif; margin-left: 2em; margin-right: 2em;}
 .ki-explanation .ki-title {font-family: 'Playfair Display', serif; line-height: 125%;}

 .agenda { }
 .agenda .ki-explanation {}
 .agenda .ki-explanation .ki-title {}
 .agenda .ki-index {}

 .break {}
 .break .ki-explanation { }
 .break .ki-explanation .ki-title {}

 .coffee-chat {}
 .coffee-chat .ki-explanation {}
 .coffee-chat .ki-explanation .ki-title {}

 .lunch { }
 .lunch .ki-explanation { }
 .lunch .ki-explanation .ki-title {}

 .keynote { }
 .keynote .ki-explanation {}
 .keynote .ki-explanation .ki-title {}

 .panel {}
 .panel .ki-explanation {}
 .panel .ki-explanation .ki-title {}

 .welcome {}
 .welcome .ki-explanation {}
 .welcome .ki-explanation .ki-title {}

/* small devices */
	@media only screen and (max-width: 768px) {

	  .agenda .ki-explanation  {margin-top:1em; padding-left:1em; padding-right:1em;}
	  .agenda .ki-explanation .ki-title {
	   text-align:center;
	   font-style:italic;
	   font-weight: bold;
	      font-size:200%;

	      padding-bottom:1.0em; 
	      padding-top:1.0em;
	  }

	  .agenda .ki-index-custom { font-size:1.00rem; font-family:'EB+Garamond', serif;}
	  .ki-index-custom .ki-datetime {color:dimgrey;}
	  .ki-index-custom .ki-agenda-item-description {font-weight:bold;}

	  .break .ki-explanation {font-size:400%; padding-top:1em; text-align:center;}  
		
	  .lunch .ki-explanation {font-size:200%; padding-top:4em;} 

	  .welcome .ki-explanation {margin-top:1em; padding-left:1em; padding-right:1em;}
      .welcome .ki-explanation .ki-title {
       text-align:center;
	   font-style:italic;
	   font-weight: bold;
	      font-size:200%;
	      padding-bottom:1.0em; 
	      padding-top:1.0em;
      }


	} /* end of screen block for small devices */

/* large devices */
	@media only screen and (min-width: 769px) {

	  .agenda .ki-explanation {font-size:1.25em; line-height:1.5em; margin-top:1em; }
	  .agenda .ki-explanation .ki-title {
	    text-align:center;font-size:400%;
	    font-style:italic;
            padding-bottom:1.0em; 
	    padding-top:1.0em; 
	    /* the padding is important to show the background image */
		  
		  /* include this if you want a background image behind the title */
		  /* 	  background-image: url("https://assets.hub.ki/982/images/topbanner.png")!important;
	                  background-repeat: no-repeat!important;*/

	  }

	  .agenda .ki-index-custom { font-size:1.25rem; font-family:'EB+Garamond', serif;}
	  .ki-index-custom .ki-datetime {
	    float:left;
	    width:8em;
	    color:dimgrey;
	   }
	   .ki-index-custom .ki-agenda-item-description {
	    font-weight:bold;
	    margin-left:8em;
	   }
	  
	  .break .ki-explanation {font-size:400%; padding-top:4em; text-align:center;}
         .lunch .ki-explanation {
         font-size:400%;
         padding-top:4em; 
         }

      .welcome .ki-explanation {text-align:center;font-size:1.25em; line-height:1.5em; margin-top:1em;}
      .welcome .ki-explanation .ki-title {
	    text-align:center;font-size:400%;
	    font-style:italic;
        padding-bottom:1.0em; 
	    padding-top:1.0em;
      }
	} /* end of screen block for large devices */






