
.agenda {background-color:peachpuff!important;}
.agenda .ki-explanation {font-size:200%; background-color: white;}
.agenda .ki-heading {background-color:red!important;}
.agenda .ki-index {background-color:orchid!important;}
.agenda .ki-index-custom{font-style:italic; }

.lunch {background-color:tomato!important; font-family: serif;}
.lunch .ki-heading {font-size:400%; text-align:center;}

.coffee-chat {background-color:palegreen!important;
background-image: url("../images/coffeechat.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto;}}
.coffee-chat .ki-explanation {font-size:300%!important; background-color:blue!important;}
.coffee-chat .ki-heading {text-align:center!important; padding-top:6em!important;}

.keynote {background-color:mintcream!important;}
.keynote .ki-explanation {font-size:100%!important; background-color: white!important;}
.keynote .ki-heading {text-align: right!important; font-size:200%!important;}
.keynote .ki-index {background-color:mediumturquoise!important;}
.keynote .ki-index-custom{font-style:bold!important; }
