/* include any fonts we want to use in the event */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* set up our basic classes. We will modify some elements inside the media query blocks */
 .ki-explanation h1 {font-size:2rem; font-weight:bold; }
 .ki-explanation h2 {font-size:1.5rem; font-weight:bold;}
 .ki-explanation h3 {font-size:1.25rem; font-weight:bold;}
 .ki-explanation h4 {font-size:1.25rem; font-weight:initial; font-style: italic;}


 .ki-heading {font-family: 'Playfair Display', serif;}
 .ki-explanation { font-weight:normal; font-family:'EB+Garamond', serif; margin-left: 2em; margin-right: 2em;}
 .ki-explanation .ki-title {font-family: 'Playfair Display', serif; bold;line-height: 125%;font-size:2rem;}

 






