
.agenda{padding-top:0em;}
.agenda .item {text-align: left;padding-left: 1em;padding-right:1em;padding-bottom: .2em;  border: 1px solid black;}
.agenda .items {max-width:1000px; margin:auto;}
.agenda .row-title {color:white;background-color:#20558e;border: 1px solid black;padding-left: 1em;padding-right: 1em;padding-bottom: .2em;padding-top: .2em;}
.agenda .break{background-color:#20558e;}
.agenda .seminar{text-align:center;background-color:#DEEBF6}
.agenda .line{padding-bottom: 0.3em;}
.agenda .split{text-align:left;padding-left: 1em;padding-right: 1em;padding-bottom: .3em;border-top: 2px solid black;}
.agenda .multi {text-align: left; border: 1px solid black;}
.agenda .multi-heading {text-align: left;padding-left: 1em;padding-right:1em;padding-bottom: .2em;}
.text-h6 {color:white;background-color:#20558e;border: 1px solid black;padding-left: 1em;padding-right: 1em;padding-bottom: .2em;padding-top: .2em; font-size:1.5em;}
.details {padding-top:2em;}
div .desc .short {display:block!important;}

@media only screen and (max-width: 599px) {
.agenda .items {border: 1px solid black;}
.agenda .item {border: 0px solid black;}
.agenda .split {border: 0px solid black;}
.agenda .multi {border: 0px solid black;}
}

